
<html>
  <head>
    <title>PAGE POTIN</title>
  </head>
  <body>
    <h1>Page Gossip</h1>
    <h3>Gossip n° #<%=gossip_id%></h3>
    Son auteur : <%=gossip_single.author%><br>
    Son contenu : <%=gossip_single.content%><br><br>
     <a href="/">Lien pour revenir à la page des potins</a>
  </body>
</html>
